body {
    background-color: #585858;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #ffffff;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.container {
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    background: #9f9f9f;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2)
    );
    backdrop-filter: blur(1rem);
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

h1, h2, h3{
    text-align: center;
    justify-content: center;
    color: #ffffff;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project {
    width: 48%;
    margin-bottom: 20px;
}

.social-links {
    display: flex;
    gap: 20px;
}

.social-links, a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #3498db;
    text-align: center;
}

.copyrightcontainer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #7f8c8d;
}

p {
    justify-content: center;
    text-align: center;
    color: white;
}