:root {
    --background-color: #383838;
    --text-color: #ffffff;
}

body {
    background: var(--background-color);
    background-size: 400% 400%;
    color: var(--text-color);
    font-family: Arial, sans-serif;
    animation: gradient 15s ease infinite;
    overflow: hidden;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

a {
    font-size: 0.9rem;
    color: #66ccff;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #00aaff;
    text-decoration: underline;
}

p {
    text-align: center;
}